*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.relative{
    position: relative;
}

/* ============ HEADER ================ */
.logo{
    height: 60px;
}

.navbar .nav-link{
    font-weight: bold;
    margin: 0px 15px;
}

.navbar-nav .nav-item{
    margin: 0px 2px;
}
.btn-primary{
    background-color: #455856;
    border: 1px solid #6e9087;
    border-radius: 0px;
}
.btn-primary:hover{
    border-radius: 0px;
    background-color: #455856;
    border: 1px solid #6e9087;
} 
.form-control{
    border: 1px solid #000;
    border-radius: 0px;
}   

.search-icon{
    position: absolute;
    top: 25%;
    left: 5%;
}

.navbar-nav .nav-item .form-control{
    padding-left: 33px;
}

/* ====================img====================*/
.position{
    position:relative;
 }
 .vr-text{
     position: absolute;
     left: -10px;
     top: 15%;
     background-color: #fff;
     padding: 10px 0;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
 }
.hr-line{
    position: absolute;
    left: -60px;
    height: 95%;
    border-left: 1px solid #000; 
   }
.pic-font
{
  position: absolute;
  top: 15%;
  left: 5%;
}
.list{
    position: absolute;
    background-color: #fff;
    bottom: -10%;
    left: -10px;
    padding: 10px 3px;
    list-style-type: none;
}
.list li a{
    color: #000;
    font-size: 18px;
}